version: "3"
services:
  db:
    hostname: db
    image: ankane/pgvector
    ports:
     - 5432:5432
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Teste12345!
      - POSTGRES_HOST_AUTH_METHOD=trust